@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.level,
.game-mode {
  padding: 5px;
  background: #5e5df0;
  box-shadow: #5e5df0 0 10px 20px -10px;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 105%;
  font-weight: 700;
  outline: none;
  padding: 8px 18px;
  width: 100%;
  border: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  background: #011f3f;
  padding-bottom: 100%;
  padding-top: 20px;
}

h1,
#time {
  font-family: "Press Start 2P", cursive !important;
  color: #fef2bf;
  text-align: center;
}

.game__cell {
  border: 1px solid black;
}
.game__cell:hover {
  border: 1px solid red;
}

#increaseLevel {
  position: absolute;
  width: 30%;
  padding: 3%;
  left: 47%;
  border: none;
  background: #5e5df0;
  box-shadow: #5e5df0 0 10px 20px -10px;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
#increaseLevel:hover {
  opacity: 0.8;
}

#increaseLevel:active {
  box-shadow: 0 0;
  transform: translateY(5px);
}

#win-restart {
  position: relative;
  width: 30%;
  padding: 4%;
  left: 10%;
  border: none;
  background: #5e5df0;
  box-shadow: #5e5df0 0 10px 20px -10px;
  border-radius: 20px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}
#win-restart:hover {
  opacity: 0.8;
}

#restart {
  position: relative;
  width: 40%;
  padding: 5%;
  background: #5e5df0;
  box-shadow: #5e5df0 0 10px 20px -10px;
  color: #fff;
  left: 30%;
  z-index: 11;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  visibility: hidden;
}
#restart:hover {
  opacity: 0.5;
}

#restart:active {
  box-shadow: 0 0;
  transform: translateY(5px);
}

.modal {
  display: none;
  width: 20%;
  height: 30%;
  padding: 50px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 100px 8px black;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 10;
}
.modal img {
  margin-left: 40%;
}
.modal p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: #5e5df0;
}

.win-modal {
  display: none;
  width: 20%;
  height: 30%;
  padding: 50px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 3px 3px 100px 8px black;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 10;
}
.win-modal img {
  margin-left: 40%;
}
.win-modal p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: #5e5df0;
}

.main-game {
  display: flex;
  justify-content: space-between;
}
.main-game .left-side {
  width: 10%;
  margin: 5%;
}
.main-game .game-frame {
  width: 90%;
  margin: 5% 11%;
}

.level,
.game-mode {
  margin: 10px 1px;
  transition: all 0.25s ease-in-out;
}
.level:hover,
.game-mode:hover {
  opacity: 0.5;
}

.game-mode i {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
